.project
  %h2 Projects
  %ul
    - @project.each do |member|
      %li 
        %span.project_name #{member['name']} 
        %span.project_type #{member['type']}
        %ul
          -member["skills"].each do |skill|
            %li{class:skill.css_class} #{skill}
        =member["description"]
