.skillset
  %h2 Skills
  
  - @skillset.each_with_index do |(name, skills),index|
    %div{class:"skillset-#{index%3 + 1}"}
      %h3 #{name}
      %ul#skills
        -skills.each do |skill|
          %li{class:skill.css_class} #{skill}