@import "zen";

$zen-column-count: 12; // Set the total number of columns in the grid.
$zen-gutter-width: 10px; 

.container {
  @include zen-grid-container;   
}

.skillset {
  @include zen-grid-item(4, 1);
}

.professional {
  @include zen-grid-item(8, 5);
  border-left: 1px solid black;
  padding-left: 10px;
}

.skillset-1 {
  @include zen-clear();
  @include zen-grid-container;
}

.skillset-2 {
  @extend .skillset-1;
}

.skillset-3 {
  @extend .skillset-1;
}

.header {
  @include zen-clear();
  h1 {
    @include zen-grid-item(7,1);
  }
  ul {
    @include zen-grid-item(5,8);
  }
}