@import "compass/css3";

@mixin skill_block($color) {
  @include inline-block;
  padding: 4px 8px;
  margin: 2.5px;
  color: white;
  background-color: $color;
  border-radius: 5px;
  font-family: Oxygen;
  font-size: 0.80em;
}

.technology {
  @include skill_block(#631F28);
}

.computer-science {
  @include skill_block(#816100);
}

.java {
  @extend .technology;
}

.js {
  @extend .technology;
}

.python {
  @extend .technology;
}

.default {
  @extend .misc;
}

.ruby {
  @extend .technology;
}

.css {
  @extend .technology;
}

.markup {
  @extend .technology;
}

.network {
  @extend .computer-science;
}

.math {
  @extend .computer-science;
}

.OSI7 {
  @extend .computer-science;
}

.design {
  @extend .computer-science;
}

.misc {
  @include skill_block(#3B3E5D);
}

.system {
  @extend .computer-science;
}

.unix {
  @extend .computer-science;
}

.sql {
  @extend .technology;
}
