.work-experience {
  li {
    h3 {
      .company {
        font-weight: bold;
      }
      .space {
        float: right;
        font-style: italic;
      }      
    }
    .desc {
      .role {
        margin-right: 10px;
        font-weight: bolder;
      }
      padding-top: 5px;
    }
    .time {
      margin-top: 5px;
      font-weight: lighter;
    }
  }
}