.work-experience {
  font-size: 1.11em;
  li {
    h3 {
      .company {
        font-weight: bold;
      }
      .space {
        float: right;
        font-style: italic;
      }      
    }
    .desc {
      padding-top: 10px;
      .infos {
        margin-right: 10px;
        margin-bottom: 10px;
        float: left;
        .time {
          margin-top: 5px;
          font-weight: lighter;
        }
        .role {
          font-weight: bolder;
        }
      }
    }
  }
}